#head h1{
    display: inline;
    color: #FFD600;
}

#questions{
    background-color: #4f4789;
    font-weight: 400;
}

input[type = "submit"]{
    border: 0;
    background-color: #fcbf49;
    color: #201335;
    padding: 3px 20px;
}

code{
    color: #FFD600;
}

.check{
    display: none;
}

input[type = "submit"]:hover{
    background-color: #f77f00;
    color: #eae2b7;
}

@media(max-width: 767px){
    .display-3{
        font-size: 40px;
    }

    #head{
        margin: 10px
    }

    #head svg{
        width: 40px;
        height: 40px;
        margin-bottom: 0 !important;
    }
}

@media(max-width: 575px){
    .display-3{
        font-size: 30px;
    }
    
    #head svg{
        width: 30px;
        height: 30px;
        margin-bottom: 15px !important;
    }
}